/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

:root {
    --primary-font: "Varela Round", sans-serif;
    --secondary-font: "Farsan", sans-serif;
    --header-color: #4109C3;
    --primary-color: white;
}
/* Global styles */

body {
    background-image: url(../images/pexels-anete-lusina-16513602.jpg);
    background-color: #929591;
    background-size: cover;
}

/* Hero section */
/* Background image photographed by: Aneta Lusina */
.hero-img {
    background-image: url("../images/pexels-anete-lusina-16513604.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    border-bottom: 2px solid #d7d7d9;
    border-bottom-style: outset;
}

/* Navbar */

#gs-logo {
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(44, 43, 43);
}

.navbar * {
    color: var(--primary-color);
}
.navbar-brand {
    font-size: 100%;
}

.navbar {
    font-family: "Farsan", sans-serif;
    font-size: 40px;
}

.navbar a:hover {
    color: #4109C3;
}

/* Change color for active page */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--header-color);
}

/* Change bootstrap background color for the navbar */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

/* Buttons */


/* Header */

h1,
h2,
h3 {
    color: var(--header-color);
    font-family: var(--secondary-font);
}