/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Macondo&display=swap');

:root {
    --primary-font: "Varela Round", sans-serif;
    --secondary-font: "Farsan", sans-serif;
    --header-color: #945c85;
    --primary-color: white;
}
/* Global styles */

body {
    background-image: url(../images/pexels-anete-lusina-16513602.jpg);
    background-color: #929591;
    background-size: cover;
    background-repeat: no-repeat
}

/* Hero section */
/* Background image photographed by: Aneta Lusina */
.hero-img {
    background-image: url("../images/pexels-anete-lusina-16513604.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 200px;
    border-bottom: 2px solid #d7d7d9;
    border-bottom-style: outset;
}

/* Navbar */

#gs-logo {
    border-style: outset;
    border-radius: 10px;
    border-color: rgb(44, 43, 43);
}

.navbar * {
    color: var(--primary-color);
}
.navbar-brand {
    font-size: 100%;
    color: darkmagenta;
}

.navbar {
    font-family: "Farsan", sans-serif;
    font-size: 40px;
}

.navbar a:hover {
    color: var(--header-color);
}

/* Change color for active page */
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
    color: var(--header-color);
}

/* Change bootstrap background color for the navbar */
.bg-body-tertiary {
    --bs-bg-opacity: 1;
    background-color: transparent !important;
}

/* Main */

main h2 {
    text-align: center;
}

div .card {
    margin: 0rem 4rem;
    text-align: center;
    background-color: var(--header-color);
    border-style: none;
    color: var(--primary-color);
}

.card-title {
    margin: 0;
}

.card-body {
    padding: 8px;
}
.card img {
    object-fit: cover;
    max-height: 80vh;
    
}

/* Header */

header {
    text-align: center;
    font-size: 5em;
    padding-top: 2rem;
}

h1,
h2,
h3 {
    color: var(--primary-color);
    font-family: var(--secondary-font);
}

/* Footer */

footer {
    background-color: #ffff;
    opacity: 50%;
    text-align: center;
    border-top: outset #d7d7d9;
    
}

footer p {
    margin-bottom: 0%;
    color: black;
}

/* Media queries */

@media screen and (min-width: 992px) {
    .navbar {
        padding-right: 14rem;
    }

    
}

@media screen and (max-width: 992px) {
    
    .navbar-nav {
        border-left: solid var(--header-color);
    }
    
    .nav-link.active {
        text-decoration: underline;
    }
    .navbar-nav a {
        background-color: #ffff;
        opacity: 50%;
        width: 30vh;
        color: var(--header-color);
        padding-left: 1rem;
    }
    
}

@media screen and (min-width: 768px) {

    .card {
        columns: 1;
    }
    
}

@media screen and (max-width: 300px) {
    .navbar-brand {
        font-size: 80%;
    }

    .navbar-brand #gs-logo {
        width: 60px;
        height: 60px;
    }
}